:root {
    --h1-font: clamp(2rem, 3vw, 3rem);
    --h2-font: clamp(1rem, 1.5vw, 1.5rem);
    --h3-font: clamp(0.85rem, 1vw, 1rem);
    --h4-font: clamp(0.5rem, 0.7vw, 1rem);
    --h5-font: clamp(0.3rem, 0.5vw, 0.7rem);
    --p-font: clamp(1.1rem, 1.5vw, 1.2rem);
    --font :Lato, sans-serif;
  }
  
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
    list-style: none;
  }
  
  html {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  
  a,
  a:active,
  a:hover,
  a:visited {
    color: inherit;
  }
  
  .headerbox {
    background: #fb0;
    padding: 10px 0;
    max-height: 60px;
  }
  
  .headercontent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 9.6%;
    max-height: 60px;
  }
  
  .imgdiv {
    max-width: 12vh;
    min-width: 100px;
  
  }
  
  .imgdiv img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .loginsvg {
    -webkit-transition: ease-in 0.35s;
    transition: ease-in 0.35s;
  }
  
  .loginsvg:hover {
    scale: 1.1;
  }
  
  .footer {
    width: 100%;
    height: fit-content;
    background-color: #0f0f0f;
    padding: 20px;
    padding-bottom: 30px;
  }
  
  .footertitle {
    font-size: 26px;
    color: #fff;
    text-align: center;
    padding: 40px;
    margin-bottom: 50px;
  }
  
  .footerlinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .footerlist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: auto;
    width: 80vw;
  }
  
  .list {
    color: #fff;
    list-style: none;
    line-height: 25px;
    width: 150px;
  }
  
  .end {
    text-align: end;
  }
  
  .listtitle {
    margin-bottom: 20px;
  }
  
  @media screen and (max-width: 750px) {
    .footer {
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
    }
    .footerlinks {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
  }
  
  .bigcontainer {
    background: url(img/pexels-aleksejs-bergmanis-681368.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  /////////////////////////////////////
  .content {
      width: 80vw;
      height: fit-content;
      background: #f8f8f8;
      margin: 8% 0;
      padding:1% 2%;
      max-width: 2000px;
      border-radius: 3px;
      -webkit-box-shadow: -1px 1px 10px 10px rgba(0, 0, 0, 0.1);
      box-shadow: -1px 1px 10px 10px rgba(0, 0, 0, 0.1);
  }

  .titlebox {
      font-size: var(--h2-font);
 
  }

.img {
    max-width: 100%;
    max-height: 65%;

    img{
        max-height: 100%;
        max-width: 100%;
        overflow: hidden;
        object-fit: cover;
    }
}

.imgcontainer {
    width: 60%;


}

  .photocardnoprice {
      display: flex;
      justify-content: space-between;

  }

  .photoandcard {
      margin-top: 1.5%;
  }

  .usercard {
    background-color:#fb0 ;
height: 85%;
padding: 3%;
width: 60%;

border-radius: 4px;



  }

  .cardcontent {
      display: flex;
      flex-direction:column ;
      align-items: center;
      height: 100%;
   

      
  }

  .userimg {

max-width: 50%;
    overflow: hidden;
    padding: 3%;

    display: flex;
    justify-content: center;
    img{
max-width:100%;
max-height:100%;
        object-fit: cover;
        border-radius: 50%;
    }
}

.username {
    font-size: var(--h2-font);
    margin-top: 5%;
}

.cardbutton {
width: 170px;
height: 50px;

    background-color:#0f0f0f ;
    border: 0;
    color: white;
    font-family:var(--font) ;
    font-size: 18px;
    font-weight: 500;
    border-radius: 7px;
    margin-top: 10px;
    cursor: pointer;
    
}

.phone {
    font-size: var(--h2-font);
    margin-top: 5%;
  
}

.buttons {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.price {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 25%;
    text-align: end;
    font-size: var(--h2-font);
}

.cardandprice {
    display: flex;
    flex-direction: column;
 
    align-items: flex-end;
}

.description {

    margin-top: 16px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.userdescription {

  margin-top: 16px;

  border-bottom: 2px solid black;
}

.desctitle {
  font-size:var(--h2-font);
  margin-top: 16px;
}

.desctitle2 {
  font-size:var(--h2-font);
  margin-top: 16px;
  margin-bottom: 16px;
}

.filters {
  font-size:clamp(1rem, 1.5vw, 1.15rem);
  margin-top: 18px;
  line-height: 25px;
  font-family: var(--font);
  margin-bottom: 16px;
}

.userdesctext {
  font-size:clamp(1rem, 1.5vw, 1.15rem);
  margin-bottom: 16px;
}

.goback {
  text-align: center;
  padding: 16px;
  font-size: 19px;
}

@media screen and (max-width:850px) {
    .photocardnoprice {
        display: flex;
        flex-direction: column;
        align-items: center;
  
    }



    .cardbutton {
        max-width: 120px;
        max-height: 35px;
        font-size: 16px;
        
 
            
        }

        .imgcontainer {
          width: 100%;
      
      
      }

      .price{
        padding: 16px;
      }

      .description {
        margin-top: 0;
      }

    .content {
        padding:4% 3%;
    }

    .img {
        max-width: 100%;
    }

    .usercard {
        width: 50%;
    }

    .cardandprice{
        align-items: center;
        width: fit-content;
        margin-top: 10%;
    }
    
}

@media screen and (max-width:350px) {
  .cardbutton {
    width: 80%;
    font-size: 80%;
    text-align: center;
  margin:auto;
display: flex;
align-items: center;
justify-content: center;
margin-top: 10px;
  }
}